@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --jb-body-bg: #0a0f1b;
    }

    body {
        background-color: var(--jb-body-bg);
        @apply font-semibold text-white;
    }

    h1 {
        @apply text-5xl font-extrabold leading-tight my-8;
    }

    h2 {
        @apply text-3xl font-extrabold my-8 text-blue-500;
    }

    strong {
        /* font-family: "Kalam", sans-serif; */
        @apply text-purple-400 italic;
        padding-right: 2px;
    }

    a {
        @apply text-blue-500 underline hover:text-pink-500 transition-colors;
    }
}

@layer utilities {
    .gradient-purple {
        @apply bg-wave text-white;
    }
}
